/* Font Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* Font Poppins */

body {
  background-color: #f4f7ff;
  height: 100vh;
}

.body-blog {
  height: auto;
  padding-bottom: 60px;
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.task-number {
  padding: 13px 18px 13px 16px;
  width: 123px;
  height: 64px;
}

.bg-changer {
  background-color: #f4f7ff;
  padding: 12px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/* main */

main {
  margin-top: 20px;
}

.board-container-padding {
  padding: 24px 24px 0px 24px;
}

.task-assigned {
  padding: 32px 20px 25px 32px;
  width: 263px;
  background-color: #f4f7ff;
  border-radius: 12px;
}

.discover-something-new {
  background: linear-gradient(
    91.74deg,
    #3752fd 0.25%,
    #6c7ffa 52.64%,
    #9ba8f8 99.84%
  );
  border-radius: 12px;
  transition: all 0.3s ease;
}

.discover-something-new:hover {
  background: linear-gradient(
    91.74deg,
    #9ba8f8 0.25%,
    #6c7ffa 52.64%,
    #3752fd 99.84%
  );
}

.divider-dotted {
  width: 100%;
}

.task-card {
  width: 342px;
  background: #f4f7ff;
  border-radius: 16px;
  padding: 24px 24px 20px 24px;
}

.pseudo-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #00303c;
}

.task-card-title {
  font-size: 24px;
  line-height: 36px;
  color: #00303c;
}

.task-card-desc {
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
}

.time {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #00303c;
  opacity: 0.7;
}
.date {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #00303c;
}

.button {
  margin-right: -8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 10px 20px;
  background-color: #3752fd;
  color: white;
  border-radius: 8px;
  transition: background-color 0.15s ease;
}

.button:hover {
  background-color: #6c7ffa;
}

.clear-history-btn {
  margin-right: auto;
}

.activity-log-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #00303c;
}

.completed-message-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.completed-task-message {
  background-color: #f4f7ff;
  border-radius: 8px;
  max-width: 318px;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  opacity: 0.7;
}
